// colors

$black: #000000;
$gray-light: #efefef;
$gray: #999999;
$white: #ffffff;

// fonts

$font-family-regular: "Roboto Mono", monospace;

$font-weight-regular: 400;
$font-weight-heavy: 700;

$font-size-regular: 18px;

$line-height-regular: 1.5;
