html,
body {
  overflow: hidden;

  height: 100%;
}

html {
  color: $gray-lighter;

  background-color: $black;

  font-size: $font-size-base;
  font-family: $font-family;

  line-height: $line-height-base;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;

  border-style: solid;
  border-color: $gray-dark;
}
