.settings {
  display: flex;

  padding: 20px;

  flex-wrap: wrap;
}

.settings__header {
  width: 100%;

  margin-bottom: 20px;
}

.settings__section {
  width: 50%;

  background-color: $gray-darker;
}

.settings__section-header {
  padding: 10px;

  background-color: $gray-dark;
}

.settings__section-content {
  padding: 10px;
}
