.space {
  position: relative;

  overflow: hidden;

  height: 100%;

  cursor: crosshair;

  &::after {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    content: "";

    background-color: $white;

    opacity: 0;

    transition: opacity 500ms linear;
  }
}

.space--flash {
  &::after {
    display: block;
  }
}

.space--flash-active {
  &::after {
    opacity: .5;
  }
}

.space--active {
  .space__renderer {
    opacity: 1;
  }

  .space__input {
    display: block;
  }

  .space__start {
    display: none;
  }

  .space__words {
    display: block;
  }

  cursor: none;
}

.space__renderer {
  width: 100%;
  height: 100%;

  opacity: 0;

  transition: opacity 1s linear;
}

.space__input {
  position: absolute;

  right: 0;
  bottom: 0;
  left: 0;

  display: none;

  width: 100%;

  padding: 20px;

  border: 0;

  color: $gray-lighter;

  background-color: transparent;

  font-weight: $font-weight-bold;
  font-size: $font-size-xxl;

  outline: 0;

  transition: color .5s linear;

  &::selection {
    color: $black;

    background: $gray-lighter;
  }
}

.space__input--dirty {
  color: $red;
}

.space__input--commit {
  color: $green;
}

.space__words {
  position: absolute;

  top: 50%;
  right: 0;
  left: 0;

  display: none;

  transform: translate(0, -50%);
}

.space__start {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  user-select: none;
}
