.words {
  line-height: 1;

  text-align: center;
}

.words__selection {
  font-size: $font-size-xxl;
}

.words__options {
  padding-top: 80px;

  font-size: $font-size-xl;

  user-select: none;
}

.words__item {
  display: inline-block;

  margin: 10px;
}
